
.root {
    -fx-font-family: 'Candara', monospace;
}

/* Action Buttons  */
.action-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/* Turns blue with white text */
.action-button:hover {
    -fx-background-color: #4da5ff;
    -fx-text-fill: #ffffff;
}

.exit-button {
    -fx-background-color: #c0392b;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

/* Turns red with white text  */
.exit-button:hover {
    -fx-background-color: #c0392b;
    -fx-text-fill: white;
    -fx-border-color: black;
}